* {
        font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-style: normal;
}
      


header.h1{
    border-radius: 50px;
}
header{
    background-color: rgb(78, 50, 55)
}
main{
    padding: 10px;    
}
body{
    background-color: rgb(44, 34, 36);
}
#area{
    background-color: rgb(102, 102, 107);

}
